.form {
  background-color: rgba(107, 106, 175, 0.176);
  display: grid;
  place-content: center;
  align-content: stretch;
  justify-content: stretch;
  gap: 0.5em;
  width: auto;
  height: auto;
  padding: 2em;
  border-style: solid;
  border-radius: 1em;
}

.page {
  margin-top: 2.75em;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.75em;
  padding-bottom: 1em;
  font-family: "Silkscreen", cursive;
  background-image: url("../../img/ChillMario.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.asterisco {
  color: red;
}

.form {
  color: rgb(6, 245, 245);
  border: none;
  width: 32%;
  height: 55%;
}

.page input {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.834);
}

.enviar {
  border-radius: 10px;
  font-family: "Silkscreen", cursive;
  font-size: large;
  background-color: rgba(228, 70, 7, 0.995) !important;
  color: azure;
}

.select {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.834);
}

.textDescription {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.834);
}
